@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background-color: #ffffff;
  --black: #020202;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--black));
  background: var(--background-color);

  height: 100vh;
  overflow-y: scroll;
}

h1 {
  font-size: 8rem;
  font-weight: 800;
}

h2 {
  font-size: 6rem;
  font-weight: 600;
}

.main {
  flex: 2;
}

.secondary {
  flex: 1;
}
.debug {
  border: 1px solid red;
}
